.project {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 38vw;
    background-color: transparent;
    margin-bottom: 10vh;
}

.projectBackground {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    width: 100%;
    border: 4px solid var(--secondary);
}
  
.projectBackground > div {
    position: unset !important;
}

.projectImage {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
}

.projectContent {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
    border: 4px solid var(--secondary);
    font-size: 0;
}

.projectContentLight {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(255, 255, 255, 0.1);
    border: 4px solid var(--secondary);
    font-size: 0;
}

.projectInfo {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.projectInfo h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--background);
    -webkit-filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
}

.projectLine {
    width: 100%;
    height: 8px;
    margin: 20px 0;
    background-color: var(--tertiary);
    box-shadow: 5px 5px 2px rgb(0, 0, 0, 0.25);
}

.projectSkills {
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.imageContainer6 {
    width: 12%;
}

.imageContainer5 {
    width: 15%;
}

.imageContainer4 {
    width: 18%;
}

.imageContainer3 {
    width: 24%;
}

.imageContainer6> div {
    position: unset !important;
}

.imageContainer5> div {
    position: unset !important;
}

.imageContainer4> div {
    position: unset !important;
}

.imageContainer3> div {
    position: unset !important;
}

.skillImage {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
    -webkit-filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
}

.learnMore {
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    color: var(--background);
    text-decoration: underline solid var(--background);
    transition: 0.2s;
}

.learnMore:hover {

    color: var(--tertiary);
    text-decoration: underline solid var(--tertiary);
}


@media (max-width: 800px) {
    
    .projectBackground {
        border: 2px solid var(--secondary);
    }

    
    .projectContent, .projectContentLight {
        border: 2px solid var(--secondary);
    }

    .projectInfo h2 {
        font-weight: normal;
        font-size: 0.8rem;
    }
    
    .projectLine {
        height: 2px;
        margin: 5px 0;
    }
    
    .projectSkills5 {
        margin-top: 0;
        width: 40%;
    }

    .projectSkills4 {
        margin-top: 0;
        width: 40%;
    }
    
    .learnMore {
        font-size: 0.5rem;
        bottom: 5px;
    }
    
}
