.project {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 40vw;
    background-color: transparent;
    margin-bottom: 30px;
}

.projectBackground {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--secondary);
}
  
.projectBackground > div {
    position: unset !important;
}

.projectImage {
    object-fit: cover;
    object-position: top;
    position: relative !important;
}

.projectContent {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
    border: 2px solid var(--secondary);
    font-size: 0;
}

.projectInfo {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.projectInfo h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: #F5F5F5;
    -webkit-filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
}

.projectLine {
    width: 100%;
    height: 4px;
    margin: 20px 0;
    background-color: var(--tertiary);
    box-shadow: 5px 5px 2px rgb(0, 0, 0, 0.25);
}

.projectSkills {
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.imageContainer {
    width: 15%;
}

.skillImage {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
    -webkit-filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0, 0.25));
}

.learnMore {
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    color: #F5F5F5;
    transition: 0.2s;
}



@media (max-width: 800px) {
    
    .projectBackground {
        border: 2px solid var(--secondary);
    }

    
    .projectContent, .projectContentLight {
        border: 2px solid var(--secondary);
    }

    .projectInfo h2 {
        font-weight: normal;
        font-size: 0.6rem;
    }
    
    .projectLine {
        height: 2px;
        margin: 5px 0;
    }

    
    .learnMore {
        font-size: 0.5rem;
        bottom: 5px;
    }
    
}
