.projectInfo {
    width: 95%;
    margin-bottom: 100px;
}

.projectInfo h2 {
    margin-top: 30px;
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--primary);
}

.projectInfo h2 a {
    text-decoration: underline solid var(--primary);
}

.projectLine {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: var(--tertiary);
}

.bottomTitle {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.projectSkills {
    display: flex;
}

.imageContainer {
    margin-right: 20px;
    width: 3vw;
}

.imageContainer> div {
    position: unset !important;
}

.skillImage {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
}

.date {
    font-size: 0.8rem;
}

.description {
    width: 95%;
    margin-bottom: 10vh;
    font-size: 0.8rem;
}


.gallery {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery h2 {
    font-weight: normal;
    font-size: 0.8rem;
    margin-bottom: 5vh;
    text-align: center;
    width: 100%;
}

.projectGalleryImages {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
}

.projectImageContainer {
    font-size: 0;
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--secondary);
}

.projectImageContainer> div {
    position: unset !important;
}

.projectImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
}

.projectImageContainerTall {
    font-size: 0;
    height: 500px;
    border: 2px solid var(--secondary);
    margin-bottom: 50px;
}

.projectImageContainerTall> div {
    position: unset !important;
}

.projectImageTall {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
}

.back{
    border-radius: 50px;
    width: 280px;
    height: 40px;
    padding: 5px 10px;
    font-size: 0.7rem;
    margin-bottom: 50px;
    border: 1px solid var(--secondary);
    background-color: var(--background);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {

    .back:hover {
      border: 2px solid var(--secondary);
      box-shadow: 1px 1px 2px;
      transition: 0.2s;
    }
}

@media (max-width: 800px) {
    
    .projectInfo h2 {
        font-size: 0.8rem;
        text-align: center;
    }
    
    .projectLine {
        height: 2px;
        margin: 10px 0;
    }

    .bottomTitle {
        flex-direction: column;
    }
    
    .projectSkills {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
    
    .imageContainer {
        margin-right: 0;
        width: 50px;
    }
    
    .date {
        font-size: 0.8rem;
        margin-top: 20px;
    }

    .description {
        margin-bottom: 5vh;
        font-size: 0.8rem;
    }
    
    .gallery h2 {
        font-size: 0.8rem;
        margin-bottom: 3vh;
        text-align: center;
    }
    
    .projectImageContainer {
        border: 1px solid var(--secondary);
    }
    
    .projectImageContainerTall {
        border: 1px solid var(--secondary);
    }
    
}